<!doctype html>
<html>
    <body>
        <br>
        <br>
        <form action="/converted" method="post">
            <label for="temp1">Input temp to convert </label><br>
            <input id="temp1" type="text" name="temp1" /><br><br>
            <label for="degree1">Select the Degree</label><br>
            <select name="degree1" id="degree1">
                <option value="Fahrenheit">Fahrenheit</option>
                <option value="Celsius">Celsius</option>
                <option value="Kelvin">Kelvin</option>
            </select>
            <h3>Convert to:</h3>
            <select name="degree2" id="degree2">
                <option value="Fahrenheit">Fahrenheit</option>
                <option value="Celsius">Celsius</option>
                <option value="Kelvin">Kelvin</option>
            </select><br><br>
            <input type="submit" />
        </form>
    </body>
</html>